{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
                {% for rows in row %}
                <tr>
                    <td>{{(rows['symbol']).upper()}}</td>
                    <td>{{rows['shares']}}</td>
                    <td>${{rows['price']}}</td>
                    <td>{{rows['date']}}</td>
                </tr>
                {% endfor %}
        </tbody>
    </table>
{% endblock %}